<h4><%= @game.opposing_player.name %> attacked <%= @game.current_player.name %></h4>
<h5><%= @game.current_player.name %> has <%= @game.current_player.health %> health remaining</h5>
<form action="/go-back">
  <input type="submit" value="Go Back">
</form>