<h4><%= @game.player_1.name %> attacked <%= @game.player_2.name %></h4>
<h5><%= @game.player_2.name %> has <%= @game.player_2.health %> health remaining</h5>
<form action="/go-back">
  <input type="submit" value="Go Back">
</form>