<h4><%= @player_1.name %> attacked <%= @player_2.name %></h4>
<h5><%= @player_2.name %> has <%= @player_2.health %> health remaining</h5>
<form action="/go-back">
  <input type="submit" value="Go Back">
</form>