<h2> <%= @player_1 %> vs <%= @player_2 %> </h2>
<h4> <%= @player_1 %> has 50 health remaining </h4>
<h4> <%= @player_2 %> has 50 health remaining </h4>
<form action="/attack">
  <input type="submit" value="Attack">
</form>